nav {
  background-color: rgba(80, 80, 80, 0.9);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  width: 100vw;
  border-radius: 50% 0 50% 50% / 0 50% 50% 50%;
  flex-basis: 100%;
}
.principal {
  background-color: #4e4e4e;
  width: 100vw;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 40px;
  text-align: center;
}

nav li {
  margin: 0 110px;
  text-align: center;
  font-size: 40px;
  text-emphasis-position: calc(50%);
}

nav a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  text-emphasis-position: calc(50%);
}

body {
  background-color: rgb(79, 82, 80);
  padding: 20px;
}

body {
  background-image: url("assets/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  color: darkgray;
  font-style: italic;
}

.title-2 {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  padding-left: 5px;
  padding-top: 5px;
  font-weight: bolder;
}

.cuadrado {
  width: 100%;
  height: 100%;
  color: rgb(180, 180, 180);
  background-color: #333;
  font-size: 2rem;
}

li {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: xx-large;
  text-align: center;
}

.imagen-00 {
  margin-left: auto;
  margin-right: auto;
}

.title-tb {
  color: antiquewhite;
  font-size: 50px;
}

h3 {
  color: rgb(255, 255, 255);
  padding-left: 5px;
}

.title-5 {
  background-color: antiquewhite;
  text-align: center;
}

.form-1 {
  background-color: rgb(77, 77, 77);
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  border-bottom-right-radius: 140px;
}

.button-1 {
  background-color: rgb(192, 192, 192);
  width: 200px;
  height: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
  border-radius: 20px;
  text-align: center;
}

.opciones-1 {
  text-align: center;
}

.adherir-1 {
  text-align: right;
}

.Footer__ThemeAuthor {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 50px;
}
.direccion .principal {
  width: 100vw;
  height: 50em;
  border-radius: 50% 0 50% 50% / 0 50% 50% 50%;
  text-align: center;
  background-color: #333;
  font-size: 10rem;
}

td th {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  opacity: initial;
}

th {
  color: white;
  font-size: x-large;
}

.poesia {
  background-color: rgba(79, 82, 80, 0.705);
  text-align: left;
  text-emphasis-position: initial;
  width: 25vw;
  height: 100%;
  backface-visibility: calc(50%);
  border-top-left-radius: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
}
.descriptivo {
  font-size: 3rem;
  color: #ffffff;
  font-family: "indie Flower";
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.box1 {
  color: #ffffff;
  background-color: #ffffff;
  width: 50px;
  height: 100%;
  opacity: initial;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 80px;
}

.formulario {
  padding-left: 5px;
}

.menu {
  color: rgb(15, 8, 8);
  font-style: normal;
  font-size: xx-large;
  text-align: center;
}

.logo {
  padding-left: 5px;
  padding-inline-start: 5px;
}

#logo {
  padding-left: 5px;
  padding-inline-start: 5px;
}

.pepito {
  padding-bottom: 10px;
}

.colecciones {
  background-color: rgba(112, 84, 84, 0.658);
  padding: 50px;
  border-radius: 50% 0 50% 50% / 0 50% 50% 50%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 2em;
  color: #333;
}

.colecciones h1 {
  font-size: 3em;
  margin-bottom: 20px;
}
ul {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
}
.ingreso {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  opacity: initial;
  font-size: xx-large;
}
.lista {
  border-radius: 50% 0 50% 50% / 0 50% 50% 50%;
}
.principal {
  background-image: url("fondo-02.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.principal::before {
  content: "relative";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("fondo-02.png");
  opacity: 0.5;
  z-index: -1;
}
