nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    margin: 0 50px;
    text-align: center;
    font-size: xx-large;
}

nav a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

body {
    background-color: rgb(79, 82, 80);
    padding: 20px;
}

body {
    background-image: url("assets/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    color: darkgray;
    font-style: italic;
}

.oblique {
    font-style: italic;
}

.title-2 {
    color: rgb(255, 255, 255);
}

.cuadrado {
    width: 100%;
    height: 100%;
    color: rgb(180, 180, 180);
    background-color: #333;

}

li {
    color: chocolate;
    font-style: oblique;
    font-size: x-large;
}

#li {
    color: azure;
}

.imagen-00 {
    margin-left: auto;
    margin-right: auto;
}

.title-tb {
    color: antiquewhite;
    font-size: xx-large;
}

h3 {
    color: rgb(255, 255, 255);
    font-style: italic;
}

.title-5 {
    background-color: antiquewhite;
    text-align: center;
}

.form-1 {
    background-color: rgb(77, 77, 77);
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.button-1 {
    background-color: rgb(192, 192, 192);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
}

.opciones-1 {
    text-align: center;
}

.adherir-1 {
    text-align: right;
}

.Footer__ThemeAuthor {
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
}

td,
th {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    opacity: initial;
}

th {
    background-color: #4e4e4e;
    color: white;
    font-size: x-large;
}

.descriptivo {
    font-size: larger;
    color: #ffffff;
}

.poesia {
    background-color: #919191; color: #000000; text-align: left;
    width: 300px;
    height: 100%;
    backface-visibility: calc(50%); 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 100px;
}

.box1 {color: #ffffff;
    background-color: #ffffff;
    width: 50px;
    height: 100%;
    opacity: initial;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50px
}