
body {
    background-color: rgb(79, 82, 80); padding: 20px;
}

body {
    background-image: url("assets/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;     
}

.title {
    color: darkgray;
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.title-2 {
    color: rgb(161, 93, 93);
}

.cuadrado {
    width: 100%;
    height: 100%;
    color: rgb(180, 180, 180);
    background-color: rgb(36, 36, 36);

}

li {
    color: chocolate;
    font-style: oblique; font-size: x-large;
}

#li {
    color: azure;
}

.imagen-00 {
    margin-left: auto;
    margin-right: auto;
}
.title-tb {color: antiquewhite; font-size: xx-large;}

h3 {
    color: rgb(255, 255, 255);
    font-style: italic;
}
.title-5 {background-color: antiquewhite; text-align: center;}
.form-1 {background-color: rgb(77, 77, 77);margin-top: 50px;margin-left: 100px; margin-right: 100px; margin-bottom: 50px ;}
.button-1 { background-color: rgb(192, 192, 192);font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;border-radius: 20px;}
.opciones-1 {text-align: center;}
.adherir-1 {text-align: right;}
.Footer__ThemeAuthor {text-align: right;}
table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    padding: 8px;
    text-align: center;
    vertical-align: middle; }

  th {
    background-color: #4e4e4e;
    color: white;
  }

  